.commentForm {
  background-color: hsl(0, 0%, 100%);
  margin: 1.2rem;
  border-radius: 1rem;
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  row-gap: 1rem;
}
.commentForm textarea {
  font-family: inherit;
  height: 8rem;
  resize: none;
  border-radius: 0.5rem;
  border-color: hsl(223, 19%, 93%);
  color: hsl(211, 10%, 45%);
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  grid-column: 1/-1;
}

.avatar {
  display: inline-block;
  grid-column: 1/1;
}

.actionBtn {
  grid-column: 4/4;
  justify-self: right;
}

.submitBtn {
  background-color: hsl(238, 40%, 52%);
  color: hsl(223, 19%, 93%);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
  width: 8rem;
}

@media screen and (min-width: 768px) {
  .commentForm {
    display: grid;
    grid-template-columns: 3.5rem auto 8rem;
    column-gap: 2rem;
  }

  .commentForm textarea {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .avatar {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .actionBtn {
    grid-column: 3/3;
    justify-self: right;
  }
  .submitBtn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.8rem;
    height: 4rem;
    cursor: pointer;
  }

  .submitBtn:hover {
    background-color: hsl(238, 50%, 52%);
  }
}
