.box {
  margin: 1.2rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 1rem;
}

.topBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.avatar {
  width: 3.5rem;
}

.username {
  color: hsl(212, 24%, 26%);
  font-size: 1.4rem;
}

.time {
  color: hsl(211, 10%, 45%);
  font-size: 1.4rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(211, 10%, 45%);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voteBox {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  background-color: hsl(223, 19%, 93%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
  font-size: 1.6rem;
}

.voteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.voteBtn img {
  width: 1.2rem;
}

.btnSection {
  display: flex;
  gap: 2rem;
}

.actionBtn {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
}

.deleteBtn {
  color: hsl(358, 79%, 66%);
}

.replySection {
  margin-left: 1.2rem;
  padding-left: 1rem;
  border-left: 2px solid hsl(239, 57%, 85%);
}

.patch {
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem;
  border-radius: 2px;
}
.submitBtn {
  background-color: hsl(238, 40%, 52%);
  color: hsl(223, 19%, 93%);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
}
