.commentForm {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  border-radius: 1rem;
  padding: 1.8rem;
  gap: 2rem;
}
.commentForm textarea {
  font-family: inherit;
  height: 8rem;
  resize: none;
  border-radius: 0.5rem;
  border-color: hsl(223, 19%, 93%);
  color: hsl(211, 10%, 45%);
  padding: 1rem 2rem;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 3rem;
}

.submitBtn {
  background-color: hsl(238, 40%, 52%);
  color: hsl(223, 19%, 93%);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
}
